<header class="header-main">
  <div class="header-flex-wrap">
    <div class="site-branding">
      {{ page.branding }}
      <button class="mobile-menu-trigger" id="js-nav-toggle" title="Open Main Menu">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
        menu
      </button>
    </div>
    {{ page.primary_menu }}
  </div>
</header>
