{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_headshot }}
      <div class="resume-header-content">
        {{ content.field_info }}
        {{ content.field_social_media }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
