.field--name-body {
  .caption-drupal-media {
    margin: 16px 0;

    @include tablet-up {
      margin: 16px 32px;
    }

    .media--type-image {
      margin: 0;
    }

    &.align-left,
    &.align-right {
      float: none;
    }

    &.align-left {
      margin-left: 0;

      @include tablet-up {
        float: left;
      }
    }

    &.align-right {
      margin-right: 0;

      @include tablet-up {
        float: right;
      }
    }

    figcaption {
      font-size: rem(14);
      font-style: italic;
    }
  }

  .media--type-image {
    margin: 16px 0;

    @include tablet-up {
      margin: 16px 32px;
    }

    img {
      width: auto;
    }

    &.align-left,
    &.align-right {
      float: none;
    }

    &.align-left {
      margin-left: 0;

      @include tablet-up {
        float: left;
      }
    }

    &.align-right {
      margin-right: 0;

      @include tablet-up {
        float: right;
      }
    }
  }
}
