.block-system-breadcrumb-block {
  margin-bottom: 16px;

  ol {
    @include list-reset;
    display: flex;
    align-items: center;

    li {
      &::after {
        content: '>';
        display: inline;
        margin: 0 4px;
        margin-right: 10px;
        font-size: rem(14);
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }

    a {
      @include expanding-underline($white, $yellow);
      font-size: rem(16);
      color: $white;

      &.is-active,
      &:hover,
      &:focus-visible {
        color: $white;
      }

      &:focus-visible {
        @include focus-visible($white);
      }
    }
  }
}
