%container {
  max-width: $container-max-width;
  margin: 0 auto;
}

%hesh-container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;

  @include desktop-up {
    max-width: $container-max-width;
    padding-left: $container-padding-desk;
    padding-right: $container-padding-desk;
  }
}

%hesh-container-narrow {
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;

  @include desktop-up {
    padding-left: 0;
    padding-right: 0;
  }
}

.region-above-content {
  @extend %hesh-container;
}
